<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

{% include head.html %}

<body>

    {% include header.html %}

	<!-- Banner -->
	<section id="banner" class="major">
		<div class="inner">
			<span class="image">
				<img src="{{ site.baseurl }}/{{ page.image }}" alt="">
			</span>
			<header class="major">
				<h1>{{ page.title }}</h1>
			</header>
			<div class="content">
				<p style="text-transform: uppercase;">{{ page.description }}</p>
			</div>
			{% if page.project_url %}
			<ul class="actions">
				<li><a href="{{ page.project_url }}" class="button next scrolly" target="_blank">View Project</a></li>
			</ul>
			{% endif %}
		</div>
	</section>
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<p>{{ content }}</p>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>